*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}

body{

background:#08131f;

min-height:100vh;

color:white;

overflow-x:hidden;

}

.background{

position:fixed;

width:100%;

height:100%;

background:

linear-gradient(120deg,#07111d,#0e2745,#061220);

z-index:-2;

}

.background::before{

content:"";

position:absolute;

width:100%;

height:100%;

background-image:

radial-gradient(#2bcfff33 1px,transparent 1px);

background-size:40px 40px;

animation:mover 12s linear infinite;

}

@keyframes mover{

0%{

transform:translateY(0px);

}

100%{

transform:translateY(40px);

}

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px;

}

h1{

font-size:40px;

}

button{

cursor:pointer;

border:none;

padding:12px 18px;

border-radius:10px;

background:#2196f3;

color:white;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#contenedorCursos{

padding:30px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(430px,1fr));

gap:30px;

}

.curso{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

padding:20px;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,.3);

}

.cursoHeader{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

.nombreCurso{

font-size:24px;

background:none;

border:none;

color:white;

width:100%;

}

.nombreCurso:focus{

outline:none;

}

.categoria{

margin-top:20px;

padding:15px;

background:rgba(255,255,255,.05);

border-radius:15px;

}

.categoriaHeader{

display:flex;

gap:10px;

align-items:center;

margin-bottom:15px;

}

.nombreCategoria{

flex:1;

background:none;

border:none;

color:white;

font-size:18px;

}

.ponderacion{

width:70px;

}

.listaNotas{

display:flex;

flex-direction:column;

gap:10px;

margin-bottom:15px;

}

.nota{

display:flex;

gap:10px;

}

.nota input{

flex:1;

padding:8px;

border-radius:8px;

border:none;

}

.promedioCategoria{

margin-top:10px;

font-weight:bold;

}

.notaFinal{

margin-top:20px;

padding:15px;

background:#1565c0;

border-radius:12px;

font-size:22px;

text-align:center;

font-weight:bold;

}